.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul li {
  list-style: none;
  height: 36px;
  line-height: 36px;
}
ul li:hover {
  color: rgb(19, 31, 201) !important;
  background-color: #fff;
}
a {
  display: block;
  width: 100%;
  color: #FFF !important;
}
a:hover {
  color:rgb(19, 31, 201) !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
