body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #fff; */
}

#root {
  height: 100%;
  /* color: #fff; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout .ant-layout-header {
  background: #40a9ff;
  /* color: rgba(0,0,0,.65); */
  color: #fff;
  font-size: 18px;
  /* margin: 0 0 0 8px; */
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
}

.main-size {
  font-size: 14px !important;
}

.mian_text {
  margin-left: 100px;
}

.ant-layout .ant-layout-sider {
  background: #fff;
  /* color: rgba(0,0,0,.65); */
  color: #40a9ff;
}
.ant-layout-sider-children a {
  color: #000 !important;
}